In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import tcad.selector as tcs

tables = tcs.Selector()

In [3]:
tables.prop_df

,prop_id,prop_type_cd,prop_val_yr,geo_id,partial_owner,udi_group,situs_street_prefx,situs_street,situs_street_suffix,situs_city,...,dataset_id,deed_num,exemption_percentage,sic_code,omitted_imprv_hstd_val,omitted_imprv_non_hstd_val,pp_late_interstate_allocation_val,appraised_val_reflecting_productivity_loss,assessed_val_reflecting_productivity_loss,late_correction_val
0,100008,R,2023,0100030105,F,0,S,LAMAR,BLVD,NaN,...,0,2014035621TR,0,NaN,0,0,0,0,0,0
1,100012,R,2023,0100030109,F,0,S,LAMAR,BLVD,NaN,...,0,2011172140TR,0,NaN,0,0,0,0,0,0
2,100015,R,2023,0100030112,F,0,S,LAMAR,BLVD,NaN,...,0,2001096152TR,0,NaN,0,0,0,0,0,0
3,100018,R,2023,0100030115,F,0,S,LAMAR,BLVD,NaN,...,0,2014043470TR,0,NaN,0,0,0,0,0,0
4,100020,R,2023,0100030201,F,0,S,LAMAR,BLVD,NaN,...,0,2007035338TR,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477141,977395,P,2023,NaN,F,0,NaN,KEVIN,LN,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
477142,977396,P,2023,NaN,F,0,NaN,VARIOUS LOCATIONS,NaN,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
477143,977397,MH,2023,0259410216,F,0,NaN,KILLINGSWORTH,LN,PFLUGERVILLE,...,0,NaN,0,NaN,0,0,0,0,0,0
477144,977401,P,2023,NaN,F,0,NaN,PANTHER,LN,PFLUGERVILLE,...,0,NaN,0,NaN,0,0,0,0,0,0
477145,977402,P,2023,NaN,F,0,E,STASSNEY,LN,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0

In [4]:
# Filter by zip code
tables = tables.select_zip(['78733','78741'])

In [5]:
tables.prop_df

,prop_id,prop_type_cd,prop_val_yr,geo_id,partial_owner,udi_group,situs_street_prefx,situs_street,situs_street_suffix,situs_city,...,dataset_id,deed_num,exemption_percentage,sic_code,omitted_imprv_hstd_val,omitted_imprv_non_hstd_val,pp_late_interstate_allocation_val,appraised_val_reflecting_productivity_loss,assessed_val_reflecting_productivity_loss,late_correction_val
6662,108470,R,2023,0109340209,F,0,NaN,POINT O WOODS,NaN,AUSTIN,...,0,2019183044,0,NaN,0,0,0,0,0,0
6664,108472,R,2023,0109340211,F,0,NaN,POINT O WOODS,NaN,NaN,...,0,2020110748,0,NaN,0,0,0,0,0,0
10886,113905,R,2023,0113400202,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
10887,113907,R,2023,0113400204,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
10888,113908,R,2023,0113400205,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,2014126469TR,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477038,977286,P,2023,NaN,F,0,S,PLEASANT VALLEY,RD,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
477039,977287,P,2023,NaN,F,0,E,OLTORF,ST,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
477042,977290,P,2023,NaN,F,0,NaN,HUNTERS BEND,RD,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
477101,977352,P,2023,NaN,F,0,E,RIVERSIDE,DR,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
477107,977359,P,2023,NaN,F,0,NaN,PLEASANT VALLEY,RD,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0

In [6]:
# Filter to single family homes (a type of improvement)
tables = tables.select_bldg_type(['1 FAM DWELLING'])
tables.imp_info_df

,prop_id,prop_val_yr,imprv_id,imprv_type_cd,imprv_type_desc,imprv_state_cd,imprv_homesite,imprv_val,imprv_homesite_pct,omitted,omitted_imprv_val
7184,108470,2023,5232774,01,1 FAM DWELLING,A1,Y,1457098,100.0,N,0
7186,108472,2023,5232776,01,1 FAM DWELLING,A1,Y,2585582,100.0,N,0
11799,113905,2023,5237403,01,1 FAM DWELLING,A1,Y,1576604,100.0,N,0
11800,113907,2023,5237404,01,1 FAM DWELLING,A1,Y,1082199,100.0,N,0
11801,113908,2023,5237405,01,1 FAM DWELLING,A1,Y,1316118,100.0,N,0
...,...,...,...,...,...,...,...,...,...,...,...
419829,971361,2023,5783031,01,1 FAM DWELLING,A4,N,189236,100.0,N,0
419834,971372,2023,5783040,01,1 FAM DWELLING,A4,Y,455224,100.0,N,0
419835,971373,2023,5783044,01,1 FAM DWELLING,A4,Y,242006,100.0,N,0
420686,974334,2023,5784149,01,1 FAM DWELLING,A4,Y,528314,100.0,N,0
420688,974335,2023,5784145,01,1 FAM DWELLING,A4,Y,0,100.0,N,0

In [7]:
tables.prop_df

,prop_id,prop_type_cd,prop_val_yr,geo_id,partial_owner,udi_group,situs_street_prefx,situs_street,situs_street_suffix,situs_city,...,dataset_id,deed_num,exemption_percentage,sic_code,omitted_imprv_hstd_val,omitted_imprv_non_hstd_val,pp_late_interstate_allocation_val,appraised_val_reflecting_productivity_loss,assessed_val_reflecting_productivity_loss,late_correction_val
6662,108470,R,2023,0109340209,F,0,NaN,POINT O WOODS,NaN,AUSTIN,...,0,2019183044,0,NaN,0,0,0,0,0,0
6664,108472,R,2023,0109340211,F,0,NaN,POINT O WOODS,NaN,NaN,...,0,2020110748,0,NaN,0,0,0,0,0,0
10886,113905,R,2023,0113400202,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
10887,113907,R,2023,0113400204,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
10888,113908,R,2023,0113400205,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,2014126469TR,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471602,971361,R,2023,0305161803,F,0,NaN,FELIX,AVE,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
471607,971372,R,2023,0305161902,F,0,NaN,HOGAN,AVE,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
471608,971373,R,2023,0305161903,F,0,NaN,HOGAN,AVE,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
474310,974334,R,2023,0306152002,F,0,NaN,CLUB,TER,NaN,...,0,2022085227,0,NaN,0,0,0,0,0,0
474311,974335,R,2023,0306152003,F,0,NaN,MONTOPOLIS,DR,NaN,...,0,2022086268,0,NaN,0,0,0,0,0,0

In [8]:
tables.imp_det_df

,prop_id,prop_val_yr,imprv_id,imprv_det_id,Imprv_det_type_cd,Imprv_det_type_desc,Imprv_det_class_cd,yr_built,depreciation_yr,imprv_det_area,imprv_det_val
60121,108470,2023,5232774,41099107,1ST,1st Floor,R3,1997,1997,3337,345905
60122,108470,2023,5232774,41099108,2ND,2nd Floor,R3,1997,1997,958,89375
60123,108470,2023,5232774,41099109,011,PORCH OPEN 1ST F,R3,1997,1997,91,3969
60124,108470,2023,5232774,41099110,011,PORCH OPEN 1ST F,R3,1997,1997,344,12698
60125,108470,2023,5232774,41099111,041,GARAGE ATT 1ST F,R3,1997,1997,924,26076
...,...,...,...,...,...,...,...,...,...,...,...
3148711,974335,2023,5784145,45369190,011,PORCH OPEN 1ST F,R5,2022,2022,36,1076
3148712,974335,2023,5784145,45369191,011,PORCH OPEN 1ST F,R5,2022,2022,162,4843
3148713,974335,2023,5784145,45369192,250,HALF BATHROOM,R5,2022,2022,1,0
3148714,974335,2023,5784145,45369193,251,BATHROOM,R5,2022,2022,2,0
3148715,974335,2023,5784145,45369194,252,BEDROOMS,R5,2022,2022,2,0

In [9]:
tables.imp_det_df[tables.imp_det_df['prop_id']==108470]

,prop_id,prop_val_yr,imprv_id,imprv_det_id,Imprv_det_type_cd,Imprv_det_type_desc,Imprv_det_class_cd,yr_built,depreciation_yr,imprv_det_area,imprv_det_val
60121,108470,2023,5232774,41099107,1ST,1st Floor,R3,1997,1997,3337,345905
60122,108470,2023,5232774,41099108,2ND,2nd Floor,R3,1997,1997,958,89375
60123,108470,2023,5232774,41099109,011,PORCH OPEN 1ST F,R3,1997,1997,91,3969
60124,108470,2023,5232774,41099110,011,PORCH OPEN 1ST F,R3,1997,1997,344,12698
60125,108470,2023,5232774,41099111,041,GARAGE ATT 1ST F,R3,1997,1997,924,26076
60126,108470,2023,5232774,41099112,095,HVAC RESIDENTIAL,R3,1997,1997,4295,8367
60127,108470,2023,5232774,41099113,251,BATHROOM,R3,1997,1997,4,0
60128,108470,2023,5232774,41099114,447,SPA CONCRETE,R3,1997,1997,1,4870
60129,108470,2023,5232774,41099115,522,FIREPLACE,R3,1997,1997,4,24055
60130,108470,2023,5232774,41099116,604,POOL RES CONC,R3,1997,1997,1,24351

In [10]:
tables.imp_atr_df[(tables.imp_atr_df['imprv_attr_desc']=='Roof Covering')]['prop_id'].duplicated()

69177      False
69195      False
110874     False
110883     False
110895     False
           ...
3360623     True
3360624     True
3360625     True
3360626     True
3360627     True
Name: prop_id, Length: 8272, dtype: bool

In [11]:
tables.imp_atr_df[(tables.imp_atr_df['imprv_attr_desc']=='Roof Covering')&(tables.imp_atr_df['prop_id']==974335)]

,prop_id,prop_val_yr,imprv_id,imprv_det_id,imprv_attr_id,imprv_attr_desc,imprv_attr_cd
3360622,974335,2023,5784145,45369186,39867792,Roof Covering,BUILT-UP
3360623,974335,2023,5784145,45369186,39867793,Roof Covering,COMPOSITIO
3360624,974335,2023,5784145,45369186,39867794,Roof Covering,METAL
3360625,974335,2023,5784145,45369186,39867795,Roof Covering,OTHER
3360626,974335,2023,5784145,45369186,39867796,Roof Covering,TILE
3360627,974335,2023,5784145,45369186,39867797,Roof Covering,WOOD SHING

In [12]:
tables.prop_df

,prop_id,prop_type_cd,prop_val_yr,geo_id,partial_owner,udi_group,situs_street_prefx,situs_street,situs_street_suffix,situs_city,...,dataset_id,deed_num,exemption_percentage,sic_code,omitted_imprv_hstd_val,omitted_imprv_non_hstd_val,pp_late_interstate_allocation_val,appraised_val_reflecting_productivity_loss,assessed_val_reflecting_productivity_loss,late_correction_val
6662,108470,R,2023,0109340209,F,0,NaN,POINT O WOODS,NaN,AUSTIN,...,0,2019183044,0,NaN,0,0,0,0,0,0
6664,108472,R,2023,0109340211,F,0,NaN,POINT O WOODS,NaN,NaN,...,0,2020110748,0,NaN,0,0,0,0,0,0
10886,113905,R,2023,0113400202,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
10887,113907,R,2023,0113400204,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,NaN,0,NaN,0,0,0,0,0,0
10888,113908,R,2023,0113400205,F,0,NaN,CREEKS EDGE,PKWY,AUSTIN,...,0,2014126469TR,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471602,971361,R,2023,0305161803,F,0,NaN,FELIX,AVE,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
471607,971372,R,2023,0305161902,F,0,NaN,HOGAN,AVE,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
471608,971373,R,2023,0305161903,F,0,NaN,HOGAN,AVE,NaN,...,0,NaN,0,NaN,0,0,0,0,0,0
474310,974334,R,2023,0306152002,F,0,NaN,CLUB,TER,NaN,...,0,2022085227,0,NaN,0,0,0,0,0,0
474311,974335,R,2023,0306152003,F,0,NaN,MONTOPOLIS,DR,NaN,...,0,2022086268,0,NaN,0,0,0,0,0,0

In [13]:
tables.process_prop_df()

,prop_id,geo_id,situs_street_prefx,situs_street,situs_street_suffix,situs_city,situs_zip,legal_desc,legal_acreage,abs_subdv_cd,...,situs_unit,entities,deed_num,yr_built,HVAC_area,1ST_floor_area,2ND_floor_area,3RD_floor_area,4TH_floor_area,5TH_floor_area
6662,108470,0109340209,NaN,POINT O WOODS,NaN,AUSTIN,78733,LOT 29 BLK E FOOTHILLS OF BARTON CREEK THE,9000,S04676,...,NaN,"1C,2J,68,0A,01,35,03",2019183044,1997,4295.0,3337.0,958.0,NaN,NaN,NaN
6664,108472,0109340211,NaN,POINT O WOODS,NaN,NaN,78733,LOT 27 BLK E FOOTHILLS OF BARTON CREEK THE,26400,S04676,...,NaN,"35,1C,2J,01,03,68,0A",2020110748,1997,4824.0,4824.0,NaN,NaN,NaN,NaN
10886,113905,0113400202,NaN,CREEKS EDGE,PKWY,AUSTIN,78733,LOT 44-46 BARTON CREEK WEST BLOCK FIVE,9981,S00955,...,NaN,"03,08,0A,2J,58",NaN,1987,4647.0,3487.0,1160.0,NaN,NaN,NaN
10887,113907,0113400204,NaN,CREEKS EDGE,PKWY,AUSTIN,78733,LOT 43 BARTON CREEK WEST BLOCK FIVE,3298,S00955,...,NaN,"58,08,0A,03,2J",NaN,1990,2649.0,1424.0,1225.0,NaN,NaN,NaN
10888,113908,0113400205,NaN,CREEKS EDGE,PKWY,AUSTIN,78733,LOT 42 BARTON CREEK WEST BLOCK FIVE,3181,S00955,...,NaN,"2J,08,0A,58,03",2014126469TR,1990,3723.0,1748.0,1628.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471602,971361,0305161803,NaN,FELIX,AVE,NaN,78741,6206 FELIX AVENUE CONDOMINIUMS UNT B PLUS 38.0...,509,C05216,...,B,"02,01,0A,03,2J,68",NaN,2022,919.0,447.0,472.0,NaN,NaN,NaN
471607,971372,0305161902,NaN,HOGAN,AVE,NaN,78741,6215 HOGAN AVNUE CONDOMINIUMS UNT A PLUS 64.00...,1122,C05217,...,A,"03,0A,01,02,2J,68",NaN,2022,1878.0,949.0,929.0,NaN,NaN,NaN
471608,971373,0305161903,NaN,HOGAN,AVE,NaN,78741,6215 HOGAN AVNUE CONDOMINIUMS UNT B PLUS 36.00...,631,C05217,...,B,"68,01,03,0A,2J,02",NaN,2022,1092.0,546.0,546.0,NaN,NaN,NaN
474310,974334,0306152002,NaN,CLUB,TER,NaN,78741,CLUB & MONTOPLIS CONDOMINIUMS UNT 1 PLUS 57 % ...,1467,C04893,...,NaN,"68,03,02,01,2J,0A",2022085227,1963,1576.0,230.0,NaN,NaN,NaN,NaN
474311,974335,0306152003,NaN,MONTOPOLIS,DR,NaN,78741,CLUB & MONTOPLIS CONDOMINIUMS UNT 2 PLUS 43 % ...,1106,C04893,...,NaN,"0A,03,68,2J,02,01",2022086268,2022,1130.0,564.0,566.0,NaN,NaN,NaN

In [15]:
tables.process_prop_df().to_parquet('data/processed/tcad_78733_78741.parquet')
prop_df = tables.process_prop_df()

Interesting finds in tcad database.
2100 TRIPSHAW LN 64C, TX 78741 - Some times single family homes can have 3 stories - townhouse area

1504 Miami Dr, 78733 - no hvac

In [16]:
prop_df['situs_city'].unique()

['AUSTIN', NaN, 'AUSTN', 'MANCHACA', 'BEE CAVE']
Categories (398, object): ['& 11400', '& 11608', '& 3409 1/2', '& BRASHER DR', ..., 'WESTLAKE HILLS', 'WHISPER VALLEY', 'WINDERMERE', 'ZILKER PARK']

In [17]:
prop_df['situs_street_suffix'].unique()

[NaN, 'PKWY', 'DR', 'CIR', 'HL', ..., 'LP', 'PATH', '1', '2', 'VW']
Length: 27
Categories (146, object): ['#9', '(PVT)', '1', '10', ..., 'WALK', 'WAY', 'WY', 'XING']